* {
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
}
.mainlog {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  z-index: 20;
  justify-content: center;
  align-items: center;
  display: none;
}
.form-container {
  background-image: linear-gradient(rgb(100, 24, 114), rgb(170, 11, 138));
  color: aliceblue;
  font-size: 30px;
  padding: 20px 5px 20px 5px;
  width: 500px;
  min-height: 400px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
  position: relative;
}
.form-avatar {
  height: 100px;
}
/*colsing buttons in the top of the forms*/
#sign-close,
#log-close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  font-size: 30px;
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: all 0.3s;
}
#sign-close:hover,
#log-close:hover {
  background-color: transparent;
  color: white;
}
.form-container input {
  background-color: transparent;
  border: none;
  font-size: 25px;
  text-align: center;
  color: white;
  border-bottom: 2px solid white;
  padding: 10px;
  width: 300px;
  outline: none;
  display: block;
  margin: 20px auto;
  transition: all 1s;
  text-transform: lowercase;
  outline: none;
  box-shadow: none;
}
.form-container input::placeholder {
  text-transform: capitalize;
}
.form-container input:focus {
  border: 2px solid white;
  width: 80%;
  border-radius: 10px;
}
.form-container input:valid {
  border: 2px solid white;

  width: 80%;
  border-radius: 10px;
}
.form-container p {
  font-size: 20px;
  margin-top: 20px;
}
#login-account,
#create-account {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.3s;
}
#login-account:hover,
#create-account:hover {
  color: green;
  text-shadow: 0 0 10px green;
}

.submit-button {
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  font-family: sans-serif;
  transition: all 0.3s;
}
.submit-button:hover {
  color: green;
  box-shadow: 0 0 10px green;
}

@media only screen and (max-width: 768px) {
  .form-container {
    width: 75%;
  }
  .form-container input:focus {
    width: 100%;
  }
  .form-container input:valid {
    width: 100%;
  }
}
